.errorlist {
  color: red;
}
textarea {
  width: 450px;
  height: 120px;
}
footer {
  margin-top: 15px;
}
.timeline {
  border-bottom: 1px dashed #DDDDDD;
  margin-top: 15px;
  padding-bottom: 10px;
  width: 100%;
  display: inline;
  float: left;
}
.timeline h3 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 5px;
}
.timeline ul.extinfo {
  float: right;
  list-style-type: none;
  width: 90px;
  margin: 0;
}
.timeline .info {
  padding-left:100px;
  padding-right:100px;
}
.timeline .pic {
  float: left;
}
.timeline .pic img {
  max-width: 88px;
  max-height: 100px;
}
.pagination {
  float: right;
}
.clickable {
  cursor:pointer;
  color:#0088CC;
}
.clickable:hover {
    color: #005580;
    text-decoration: underline;
}
#container_top .sw {
  float: right;
}
#container_top .sw span {
  color: #BFBFBF;
}
.navbar {
  position: static;
  margin-bottom: 20px;
}
.container {
  max-width: 960px;
}
.container > .sidebar {
  float: right;
  left: 20px;
  position: static;
  top: 0;
  width: 260px;
}
.container > .sidebar ul {
    list-style: none;
    margin-left: 20px;
}
.container > .sidebar .well {
  padding: 12px;
}
.container > .sidebar .well h4 {
  padding-bottom: 4px;
}
.container > .content {
  float: left;
  width: 660px;
}
.sbreadcrumb {
  margin: 0 0 10px 0;
}
.sbreadcrumb li {
  display: inline;
  text-shadow: 0 1px 0 #ffffff;
}
.sbreadcrumb .divider {
  padding: 0 5px;
  color: #bfbfbf;
}
.sbreadcrumb .active a {
  color: #404040;
}
#sb_tl_creater {
  overflow: hidden;
}
#sb_tl_creater .user {
  float: left;
  margin-top: 2px;
}
#sb_tl_creater .info ul {
  list-style: none;
  margin: 0 0 0 54px;
}
.simple.popover .popover-inner {
  min-width: 280px;
  max-width: 650px;
  width: auto;
}
.simple.popover .popover-inner img {
  max-width: 280px;
}
.simple.popover.bottom .arrow {
  left: 80px;
  border-bottom-color: #C6C6C6;
}
.simple.popover .popover-tab {
  padding: 4px 6px 0 6px;
  background-color:#F0F0F0;
}
.simple.popover .popover-inner {
  background-color:#C6C6C6;
  padding: 1px;
  border-radius: 0;
}
.simple.popover .popover-content {
  border-radius: 0;
}
.simple.popover .popover-tab p {
  margin: 0px;
}
.simple.popover .popover-tab p a {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0 -2px;
  padding: 0 11px;
  position: relative;
  z-index: 1;
}
.simple.popover .popover-tab .current {
  text-decoration: none;
  cursor: default;
  background: white;
  border: 1px solid #E8E8E8;
  border-bottom: 0;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px 3px;
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px 3px;
}
.comments .gravatar {
  float: left;
}
.comments .content {
  float: right; 
  width: 590px;
  padding: 4px 10px 20px 0px;
}
.comments .content.line {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.comments .t-info, .comments .p-info {
  font-size:small;
  color: gray;
  padding-bottom: 4px;
}
.comments .p-info span {
  font-weight: bold;
}
.comments .t-info span {
  padding-right: 20px;
}
