Django>=1.3
south
dj-scaffold
django-devserver
django-debug-toolbar
django-taggit
django-taggit-templatetags
django-pagination
django_compressor
Markdown
BeautifulSoup
raven
git+git://github.com/vicalloy/django-helper.git
git+git://github.com/bread-and-pepper/django-userena.git
git+git://github.com/earle/django-bootstrap.git#egg=bootstrap
git+git://github.com/SmileyChris/easy-thumbnails.git
git+git://github.com/vicalloy/django-ajax-validation.git
git+git://github.com/vicalloy/django-lb-attachments.git
