Django==1.4.1
South==0.7.6
dj-scaffold
django-debug-toolbar==0.9.4
django-devserver==0.3.2
django-taggit==0.9.3
django-taggit-templatetags
django-pagination==1.0.7
django-compressor==1.2
django-guardian==1.0.4
Markdown==2.2.0
BeautifulSoup==3.2.1
raven==2.0.3
easy-thumbnails==1.0.3
git+git://github.com/vicalloy/django-helper.git
django-userena==1.1.2
git+git://github.com/earle/django-bootstrap.git#egg=bootstrap
git+git://github.com/vicalloy/django-ajax-validation.git
git+git://github.com/vicalloy/django-lb-attachments.git
django-appconf==0.4
