{% extends "base.html" %}

{% load i18n %}

{% block extra_header %}
  <style type="text/css">
    .navbar {
      position: static;
      margin-bottom: 20px;
    }
    .container-fluid {
      margin-left: auto;
      margin-right: auto;
      width: 940px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .container-fluid > .sidebar {
      float: right;
      left: 20px;
      position: static;
      top: 0;
      width: 220px;
    }
    .container-fluid > .content {
      margin-right: 240px;
      margin-left: 0px;
    }
    .form-actions {
      background: none;
      border-top: none;
    }
    .tg-timeline-envelope .titleBar {
      display: none;
    }
    .timeglider-logo {
      background-image:url("");
    }
  </style>
{% endblock %}

{% block page_body %}
  {% block topbar %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">似水流年</a>
          <form action="" class="navbar-search pull-left">
            <input type="text" placeholder="Search">
          </form>
          <ul class="nav">
            <li><a href="{% url timeline_recommend %}">推荐</a></li>
            <li><a href="{% url timeline_hot %}">热门</a></li>
            <li><a href="{% url timeline_last %}">最新</a></li>
            <li><a href="{% url timeline_random %}">发现</a></li>
          </ul>
          <ul class="nav pull-right">
            {% if user.is_authenticated %}
              <li><a href="{% url timeline_new %}"><span>创建时间线</span></a></li>
              <li><a href="{% url userena_profile_detail user.username %}"><span>{% trans 'Account' %} ({{ user.username }})</span></a></li>
              <li><a href="{% url userena_signout %}"><span>{% trans 'Signout' %}</span></a></li>
            {% else %}
              <li><a href="{% url userena_signin %}"><span>{% trans 'Signin' %}</span></a></li>
              <li><a href="{% url userena_signup %}"><span>{% trans 'Signup' %}</span></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  {% endblock %}

  {% block container %}
    <div class="container-fluid">
      {% block container_top %}
      {% endblock %}

      {% block sidebar %}
        <div class="sidebar">
          <div class="well">
            <h5>Sidebar</h5>
            <ul>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div>
        </div>
      {% endblock %}

      {% block content %}
        <div class="content">
        </div>
      {% endblock %}

    </div>
  {% endblock %}

  {% block footer %}
    <footer>
      <div class="container-fluid">
        <p>&copy; Company 2012</p>
      </div>
    </footer>
  {% endblock %}
{% endblock %}        
