<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% block html_declare %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
{% endblock %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title> {% block title %} {% endblock %} </title>
    <meta name="description" content="{% block page_description %} {% endblock %}"/>
    <meta name="author" content=""/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="{{STATIC_URL}}js/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link href="{{STATIC_URL}}css/main.css" rel="stylesheet"/>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico"/>
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"/>
    {% block extra_header %} {% endblock %}
  </head>

  <body>
    {% block page_body %} {% endblock %}
    {% block footer_ext %} {% endblock %}
  </body>
</html>
