{% extends "timeline/base.html" %}
{% load compress %}

{% block title %}
  {% if tl %}
    {{tl}} 上传图片
  {% endif %}
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block container_top %}
<div id="container_top">
  <ul class="sbreadcrumb">
    <li><a href="{% url idx %}">首页</a> <span class="divider">/</span></li>
    <li><a href="{% url timeline_detail tl.pk %}">{{ tl.title }}</a> <span class="divider">/</span></li>
    <li><a href="{% url timeline_attachs tl.pk %}">图片管理</a> <span class="divider">/</span></li>
    <li class="active">上传图片</li>
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="">
    <div class="page-header">
        <h1>上传图片</h1>
    </div>
    <br>
    <!-- The file upload form used as target for the file upload widget -->
    <form id="fileupload" action="server/php/" method="POST" enctype="multipart/form-data">
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="span7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span>添加图片</span>
                    <input type="file" name="file" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span>开始上传</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>取消</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span>删除</span>
                </button>
                <input type="checkbox" class="toggle">
            </div>
            <!-- The global progress information -->
            <div class="span5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-success progress-striped active">
                    <div class="bar" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The loading indicator is shown during file processing -->
        <div class="fileupload-loading"></div>
        <br>
        <!-- The table listing the files available for upload/download -->
        <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </form>
    <br>
    <div class="well">
        <h3>备注：</h3>
        <ul>
            <li>上传文件的大小不能超过<strong>500K</strong></li>
            <li>只支持上传图片(<strong>JPG, GIF, PNG</strong>)</li>
        </ul>
    </div>
</div>
{% endblock %}

{% block footer_ext %}
  {{ block.super }}
  {% load verbatim_templatetag %}
  {% verbatim %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td class="preview"><span class="fade"></span></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
            {% } %}</td>
        {% } else { %}
            <td colspan="2"></td>
        {% } %}
        <td class="cancel">{% if (!i) { %}
            <button class="btn btn-warning">
                <i class="icon-ban-circle icon-white"></i>
                <span>{%=locale.fileupload.cancel%}</span>
            </button>
        {% } %}</td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
        {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
                <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
            </td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            <td colspan="2"></td>
        {% } %}
        <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                <i class="icon-trash icon-white"></i>
                <span>{%=locale.fileupload.destroy%}</span>
            </button>
            <input type="checkbox" name="delete" value="1">
        </td>
    </tr>
{% } %}
</script>
  {% endverbatim %}
  <link rel="stylesheet" href="{{STATIC_URL}}bootstrap-datepicker/datepicker.css" type="text/css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}jQuery-File-Upload/css/jquery.fileupload-ui.css" type="text/css"/>
  <script src='{{STATIC_URL}}bootstrap/js/bootstrap.min.js' type='text/javascript'></script>

  <script src='{{STATIC_URL}}js/tmpl.min.js' type='text/javascript'></script>
	{% compress js %}
  <script src="{{ STATIC_URL }}jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
  <script src="{{ STATIC_URL }}jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
  <script src="{{ STATIC_URL }}jQuery-File-Upload/js/jquery.fileupload.js"></script>
  <script src="{{ STATIC_URL }}jQuery-File-Upload/js/jquery.fileupload-fp.js"></script>
  <script src="{{ STATIC_URL }}jQuery-File-Upload/js/jquery.fileupload-ui.js"></script>
  <script src="{{ STATIC_URL }}jQuery-File-Upload/js/locale.js"></script>
	{% endcompress %}
  <script type="text/javascript">
    $(function () {
      'use strict';
      $('#fileupload').fileupload();
      $('#fileupload').fileupload('option', {
          url: "{% url timeline_attach_upload_ tl.pk %}",
          maxFileSize: 500000,
          acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i
      });
    });
  </script>
{% endblock %}
