{% extends "timeline/base.html" %}

{% block title %} {{ tl.title }} {% endblock %}

{% block extra_header %}
{{block.super}}
<style type="text/css">
  .content hr {
    margin: 5px 0;
  }
  .content > h3 {
    margin-top: 15px;
    margin-bottom: 5px;
    clear: both;
  }
  #timeline-embed{
    margin:0px !important;
    border:1px solid #CCC !important;
    padding:0px !important;
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
    border-radius:0px !important;
    -moz-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
    -webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
    box-shadow:0px 0px 0px rgba(0, 0, 0, 0.25) !important;
    width: 940px;
    height: 640px;
  }
  #id_content {
    width: 650px;
  }
  .avatar.thumbnail img {
    width: 36px;
    height: 36px;
  }
</style>
{% endblock %}

{% block sidebar %}
<div class="sidebar">
  <div class="well" id="sb_tl_creater">
    <div class="user avatar thumbnail">
      <a href="{% url userena_profile_detail tl.created_by.username %}">
        <img src="{{ tl.created_by.profile.get_mugshot_url }}"/>
      </a>
    </div>
    <div class="info">
      <ul>
        <li><a href="{% url userena_profile_detail tl.created_by.username %}">{{ tl.created_by.profile }}</a></li>
        <li>创建于： {{ tl.created_on|date:"Y-m-d H:i"}}</li>
        <li>更新于： {{ tl.updated_on|date:"Y-m-d H:i"}}</li>
      </ul>
    </div>
  </div>

  {% if user == tl.created_by %}
    <div class="well">
      <h4>管理</h4>
      <ul>
        <li><a href="{% url timeline_edit tl.pk %}">编辑基础信息</a></li>
        <li><a href="{% url timeline_events tl.pk %}">编辑事件</a></li>
        <li><a href="{% url timeline_delete tl.pk %}" 
              onclick="return confirm('您确定需要删除该时间线？删除后将无法恢复')">删除事件</a></li>
      </ul>
    </div>
  {% endif %}
</div>
{% endblock %}

{% block container_top %}
<div id="container_top" style="padding-bottom: 20px;">
  <div class="sw">
    {% if user == tl.created_by %}
      <a href="{% url timeline_edit tl.pk %}">编辑基础信息</a>
      <span>|</span>
      <a href="{% url timeline_events tl.pk %}">编辑事件</a>
      <span>|</span>
    {% endif %}
    <a href="{% url timeline_full_screen tl.pk %}">精简模式</a>
  </div>
  <ul class="sbreadcrumb">
    <li><a href="{% url idx %}">首页</a> <span class="divider">/</span></li>
    <li class="active">{{ tl.title }}</li>
  </ul>
  <div>
    <div id='timeline-embed'></div>
  </div>
</div>
{% endblock %}

{% block content %}
  <div>
    {{ tl.num_events }} 事件  |  {{ tl.num_views }} 浏览 |  {{ tl.num_replies }} 回复
  </div>
  <div class="content">
    <hr/>
    <div>
      {{ tl.intro|linebreaksbr }}
    </div>
    <h3>评论</h3>
    <div class="comments" id="id_comments">
      {% for c in comments %}
        {% include "timeline/inc_comment.html" %}
      {% endfor %}
    </div>
    {% if user.is_authenticated %}
      <h3>发表评论</h3>
      <div>
        <form action="{% url timeline_postcomment_ tl.pk %}" method="post" id="comment_from">
          {% csrf_token %}
          <p>
            {{ form.content }}
          </p>
          <p style="clear:both;">
            <input type="submit" name="post" class="btn btn-primary" id="id_btn_submit" value="提交">
          </p>
        </form>
      </div>
    {% else %}
      <h3>
        您还未登录，请在<a href="{% url userena_signin %}">登录</a>后发表评论。
        如果您还没有帐号，请先<a href="{% url userena_signup %}">注册</a>。
      </h3>
    {% endif %}
  </div>
{% endblock %}

{% block footer_ext %}
{{ block.super }}
<link rel="stylesheet" href="{{STATIC_URL}}bootstrap-datepicker/datepicker.css" type="text/css"/>
<link rel="stylesheet" href="{{STATIC_URL}}js/Timeline/timeline.css" type="text/css"/>
<script type="text/javascript" src="{{ STATIC_URL }}ajax_validation/js/jquery.djangoajaxform.js"></script>
<script src='{{STATIC_URL}}bootstrap/js/bootstrap.min.js' type='text/javascript'></script>
<script type='text/javascript'>
  var timeline_config = {
    width: "100%",
    height: "600px",
    css: '{{STATIC_URL}}js/Timeline/timeline.css',
    js: '{{STATIC_URL}}js/Timeline/timeline-min.js',
    source: '{% url timeline_events_json_ tl.pk %}'
  }
</script>
<script src="{{STATIC_URL}}js/Timeline/timeline-embed.js"></script>
<script type="text/javascript">
  $('#comment_from').djangoajaxform({
      onValidateSucc: function(data, form){
        if (data.valid) {
          $('#id_comments').append(data.html);
          $('#id_content').val('');
        }
      }
  });
</script>
{% endblock %}
