{% extends "timeline/base.html" %}

{% block extra_header %}
{{block.super}}
<style type="text/css">
  .sbreadcrumb {
    margin: 0 0 10px 0;
  }
  .sbreadcrumb li {
    display: inline;
    text-shadow: 0 1px 0 #ffffff;
  }
  .sbreadcrumb .divider {
    padding: 0 5px;
    color: #bfbfbf;
  }
  .sbreadcrumb .active a {
    color: #404040;
  }
  #sb_tl_creater {
    overflow: hidden;
  }
  #sb_tl_creater .user {
    float: left;
  }
  #sb_tl_creater .info ul {
    list-style: none;
    margin: 0 0 0 44px;
  }
  #container_top .sw .label {
    font-size: inherit;
  }
  #container_top .sw {
    float: right;
  }
  .content hr {
    margin: 5px 0;
  }
  #timeline-embed{
    margin:0px !important;
    border:1px solid #CCC !important;
    padding:0px !important;
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
    border-radius:0px !important;
    -moz-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
    -webkit-box-shadow:0 0px 0px rgba(0, 0, 0, 0.25) !important;
    box-shadow:0px 0px 0px rgba(0, 0, 0, 0.25) !important;
  }
  /*
  #timeline-embed{
    background-color:#ffffff;
    margin-bottom:20px;
    border:1px solid #cccccc;
    padding-top:20px;
    padding-bottom:20px;
    clear:both;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow:1px 2px 6px rgba(0, 0, 0, 0.25);
  }*/
</style>
{% endblock %}

{% block sidebar %}
<div class="sidebar">
  <div class="well" id="sb_tl_creater">
    <div class="user">
      <img style="width:36px;height:36px;" src="http://img3.douban.com/icon/u1009137-3.jpg"/>
    </div>
    <div class="info">
      <ul>
        <li>创建于： 2012.1.31</li>
        <li>最后更新： 2012.1.31</li>
      </ul>
    </div>
  </div>

  <div class="well">
    <h5>管理</h5>
    <ul>
      <li><a href="{% url timeline_edit tl.pk %}">编辑</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block container_top %}
<div id="container_top" style="padding-bottom: 20px;">
  <div class="sw">
    <span class="label" onclick="$('#tl_list').hide();$('#timeline-embed').show();">时间轴</span>
    <span onclick="$('#timeline-embed').hide();$('#tl_list').show();" class="clickable">文字版/编辑</span>
  </div>
  <ul class="sbreadcrumb">
    <li><a href="#">Home</a> <span class="divider">/</span></li>
    <li><a href="#">Middle page</a> <span class="divider">/</span></li>
    <li><a href="#">Another one</a> <span class="divider">/</span></li>
    <li class="active">You are here</li>
  </ul>
  <div>
    <div id='timeline-embed'></div>
    <div id="tl_list" style="display:none">
      <table class="table table-striped" style="width=100%">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>日期</th>
            <th>标题</th>
            <th>说明</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>编辑、删除</td>
            <td>.</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <a href="###" class="btn" onclick="$('#tl_form_div').show();$(this).hide()">添加</a>
    </div>

    <div style="" id="tl_form_div">
      <form action="" id="tl_form" enctype="multipart/form-data" method="post" class="form-horizontal">
        <fieldset>
          {% csrf_token %}
          {{form.as_div}}
          <div class="form-actions" class="form-horizontal">
            <p>
              <button type="submit" class="btn">提交</button>
              <button type="button" class="btn">取消</button>
            </p>
          </div>
        </fieldset>
      </form>
    </div>

  </div>
  
</div>
{% endblock %}

{% block content %}
<div>
  38事件  |  1309收藏  |  9475浏览
</div>
<div class="content">
  <hr/>
  <div>
    红遍大中华的天王巨星Michael（古天乐饰）与国内知名女星圆圆（高圆圆 饰）的大婚当日，竟被一名矿工（王宝强 饰）抢婚成功！Michael情伤酗酒，误打误撞登上阿秀（郑秀文 饰）的小货车，被载到海拔3800米的香格里拉旅馆。
    阿秀是小旅馆的老板娘，好心收留沮丧的Michael，Michael更无意中发现阿秀以往曾经是自己的超级粉丝，更因此成就了她与丈夫小田（李光洁 饰）的一段姻缘，然而小田8年前在旅馆附近的“白茫树海”失踪后一直生死未卜。
    年复一年，风雪来临之前，搜山队又再前来搜救小田，可惜秀的期盼再度落空。秀崩溃绝望，纵身树海殉情。Michael奋不顾身救回秀，悉心照料她，并劝勉她放下小田。秀不无感动，爱情不知不觉在他们之间发生了。正当秀决定踏上追求幸福之路，此时却传来有关小田的消息…
  </div>
  <hr/>
  <h5>评论</h5>
  <div>
    some...
  </div>
</div>
{% endblock %}

{% block footer_ext %}
<link rel="stylesheet" href="{{STATIC_URL}}css/aristo/jquery-ui-1.8.5.custom.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
<link rel="stylesheet" href="{{STATIC_URL}}css/timeglider/Timeglider.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
<script src='{{STATIC_URL}}js/jquery-1.7.1.min.js' type='text/javascript'></script>
<script src='{{STATIC_URL}}bootstrap/js/bootstrap.min.js' type='text/javascript'></script>
<script type="text/javascript" src="{{ STATIC_URL }}ajax_validation/js/jquery-bootstrap-form.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ajax_validation/js/jquery.djangoajaxform.js"></script>
<script type='text/javascript'>
  var timeline_config = {
    width: "100%",
    //height: 700,
    css: '{{STATIC_URL}}js/Timeline/timeline.css',
    js: '{{STATIC_URL}}js/Timeline/timeline-min.js',
    source: '{% url timeline_json tl.pk %}'
  }
</script>
<script src="{{STATIC_URL}}js/Timeline/timeline-embed.js"></script>
<script type='text/javascript'>
  $(function () { 
    $('#container_top .sw span').click(function(){
      $('#container_top .sw span').removeClass('label').addClass('clickable');
      var t = $(this);
      t.addClass('label').removeClass('clickable');
    });
    $('#tl_form').djangoajaxform("{% url timeline_addevent_ tl.pk %}", {
        callback: bootstrapCallback,
        removeErrorHints: bootstrapRemoveErrorHints,
        onValidateSucc: function(data, form){
          if (data.valid) {
          }
        }
    });
  })
</script>
{% endblock %}
