<!DOCTYPE html>
<html>
  <head>
    <title>{{ tl.title }} - 时间线</title>
    <link href="{{STATIC_URL}}Timeline/css/timeline.css" rel="stylesheet"/>
    <style type="text/css">
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id='timeline-embed'></div>
    <div style="margin: 5px 0 0 5px;
        padding: 5px;
        background-color: #BBBBBB;
        z-index:99999;
        position:fixed;
        top:10px;
        left:10px;
        opacity: 0.2;
        filter:alpha(Opacity=40);"> 
      <span style="padding: 5px;font-size: 12px;"> 
        <a href="{% url timeline_detail tl.pk %}" style="text-decoration: none;color:#000000">
          &#60; 似水流年
        </a>
      </span>
    </div> 
    <script type="text/javascript">
      var timeline_config = {
        width: "{{width}}",
        height: "{{height}}",
        css: '{{STATIC_URL}}Timeline/css/timeline.css',
        js: '{{STATIC_URL}}Timeline/js/timeline-min.js',
        source: '{% url timeline_events_json_ tl.pk %}',
        lang: 'zh-ch'
      }
    </script>
    <script src="{{STATIC_URL}}Timeline/js/timeline-embed.js"></script>
  </body>
</html>
