{% extends "timeline/base.html" %}

{% block extra_header %}
{{block.super}}
<style type="text/css">
  .sbreadcrumb {
    margin: 0 0 10px 0;
  }
  .sbreadcrumb li {
    display: inline;
    text-shadow: 0 1px 0 #ffffff;
  }
  .sbreadcrumb .divider {
    padding: 0 5px;
    color: #bfbfbf;
  }
  .sbreadcrumb .active a {
    color: #404040;
  }
  #sb_tl_creater {
    overflow: hidden;
  }
  #sb_tl_creater .user {
    float: left;
  }
  #sb_tl_creater .info ul {
    list-style: none;
    margin: 0 0 0 44px;
  }
  #container_top .sw .label {
    font-size: inherit;
  }
  #container_top .sw {
    float: right;
  }
  .content hr {
    margin: 5px 0;
  }
  textarea {
    width: 450px;
    height: 120px;
  }
  #id_media {
    height: 20px;
  }
  #tl_form_div {
    display: none;
  }
  #btn_add_event {
    float: right;
  }
</style>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% block container_top %}
<div id="container_top">
  <ul class="sbreadcrumb">
    <li><a href="#">Home</a> <span class="divider">/</span></li>
    <li><a href="#">Middle page</a> <span class="divider">/</span></li>
    <li><a href="#">Another one</a> <span class="divider">/</span></li>
    <li class="active">You are here</li>
  </ul>
</div>
{% endblock %}

{% block content %}
  <div class="">
    <div class="">
      <div id="tl_list">
        <table class="table table-striped tllist" style="width=100%">
          <thead>
            <tr>
              <th style="width: 40px"></th>
              <th style="width: 160px">日期</th>
              <th style="width: 260px">标题</th>
              <th>说明</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <!-- loadding -->
        <a href="###" class="btn" id="btn_add_event">添加</a>
      </div>
    </div>

    <div class="" id="tl_form_div">
      <div style="width: 640px;float:left;">
        <form action="" id="tl_form" enctype="multipart/form-data" method="post" class="form-horizontal">
          <fieldset>
            {% csrf_token %}
            {{form.as_div}}
            <div class="form-actions" class="form-horizontal">
              <p>
                <button type="submit" class="btn">提交</button>
                <button type="button" id="btn_tlf_cancel" class="btn cancel">取消</button>
              </p>
            </div>
          </fieldset>
        </form>
      </div>
      <div style="">
        .........................................................................
        .........................................................................
        .........................................................................
      </div>
    </div>
  </div>
{% endblock %}

{% block footer_ext %}
  {{ block.super }}
  <script type="text/html" id="events_row_tmpl">
    <tr class="tl" id="t_<%=pk%>">
      <td>
        <a href="###" class="del">
          <i class="icon-remove"></i>
        </a>
        <a href="###" class="edit">
          <i class="icon-pencil"></i>
        </a>
      </td>
      <td>
        <%=startdate%> 
        <% if (enddate != '') { %> ~ <%=startdate%> <% } %>
      </td>
      <td>
        <%=title%>
        <i class="icon-<%=mediaType%>"></i>
      </td>
      <td><%=text%></td>
    </tr>
  </script>
  <link rel="stylesheet" href="{{STATIC_URL}}bootstrap-datepicker/datepicker.css" type="text/css"/>
  <script src='{{STATIC_URL}}js/simple-tpl.js' type='text/javascript'></script>
  <script src='{{STATIC_URL}}bootstrap/js/bootstrap.min.js' type='text/javascript'></script>
  <script type="text/javascript" src="{{ STATIC_URL }}ajax_validation/js/jquery-bootstrap-form.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}ajax_validation/js/jquery.djangoajaxform.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-datepicker/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autosize-min.js"></script>
  <script type='text/javascript'>
    $(function () {
      var tl_tb_body = $('#tl_list table.tllist tbody');
      function getMediaType(d) {
        if (d.match("div class='twitter'")) {
          //return "twitter-ready";
          return 'twitter'
        } else if (d.match('(www.)?youtube|youtu\.be')) {
          //return "youtube";
          return "film";
        } else if (d.match('(player.)?vimeo\.com')) {
          //return "vimeo";
          return "film";
        } else if (d.match('(player.)?soundcloud\.com')) {
          //return "soundcloud";
          return "music";
        } else if (d.match('(www.)?twitter\.com')) {
          return "twitter";
        } else if (d.match("maps.google") && !d.match("staticmap")) {
          //return "google-map";
          return "map-marker";
        } else if (d.match("flickr.com/photos")) {
          //return "flickr";
          return "picture";
        } else if (d.match(/jpg|jpeg|png|gif/i) || d.match("staticmap")) {
          //return "image";
          return "picture";
        } else if (d.indexOf('http://') == 0) {
          //return "website";
          return "globe";
        } else {
          return "unknown";
        }
      }
      function addEvent2Row(d) {
        d.mediaType = getMediaType(d.media);
        tl_tb_body.append(tmpl("events_row_tmpl", d));
      }
      $('#tl_form').djangoajaxform("{% url timeline_addevent_ tl.pk %}", {
          callback: bootstrapCallback,
          removeErrorHints: bootstrapRemoveErrorHints,
          onValidateSucc: function(data, form){
            if (data.valid) {
              addEvent2Row(data.data);
            }
          }
      });

      /*
      $('#id_startdate,#id_enddate').datepicker({
        weekStart: 1,
        format: 'yyyy-mm-dd'
      }).on('changeDate', function(ev){
        $(this).datepicker('hide');
      });*/

      function initActBtn() {
        var del_btns = $(".tl .del", tl_tb_body);
        var edit_btns = $(".tl .edit", tl_tb_body);
        del_btns.unbind('click')
        edit_btns.unbind('click')
        del_btns.click(function(){
          if (!confirm('确定删除？')) return false;
          var p = $(this).parent().parent();
          var pk = p[0].id.split('_')[1]
          $.getJSON("{% url event_delete_ %}", {'pk': pk}, function(data) {
            if (data.valid) {
              p.fadeOut('slow', function(){p.remove()});
            } else {
              alert('删除失败');
            }
          });
        });
        edit_btns.click(function(){
          var p = $(this).parent().parent();
          var pk = p[0].id.split('_')[1]
          $('#tl_form_div').fadeOut('slow');
          $.getJSON("{% url event_json_ %}", {'pk': pk}, function(data) {
            if (data.valid) {
              $('#tl_form')[0].reset();
              formLoadData($('#tl_form'), data.data);
              $('#tl_form_div').fadeIn('slow');
              $('#id_title')[0].focus();
            } else {
              alert('数据加载失败');
            }
          });
        });
      }
      $('#btn_add_event').click(function(){
        $('#tl_form')[0].reset();
        $('#tl_form_div').fadeIn('slow');
        $(this).fadeOut('slow');
        $('#id_title')[0].focus();
      });
      $('#btn_tlf_cancel').click(function(){
        $('#tl_form_div').fadeOut('slow');
        $('#btn_add_event').show();
      });
      function formLoadData(form, data, field_map, pre) {
        if (pre == undefined) pre = '';
        $.each(data, function(k, v){
          if (v instanceof Object) {
            formLoadData(form, data, field_map, pre + k + '_');
          } else {
            var fid = pre + k;
            if (field_map != undefined)
              var tfid = field_map[fid];
            if (tfid!=undefined) {
              fid = tfid;
            } else {
              fid = 'id_' + fid;
            }
            $('#' + fid, form).val(v);
          }
        });
      }
      $('textarea').autosize();
      $.getJSON("{% url timeline_events_sjson_ tl.pk %}", {}, function(data) {
        $.each(data, function(i, d){
          addEvent2Row(d);
        });
        initActBtn();
      });
    });
  </script>
{% endblock %}
