<!DOCTYPE html>
<html>
  <head>
    <title>{{ tl.title }}</title>
    <link href="{{STATIC_URL}}js/Timeline/timeline.css" rel="stylesheet"/>
    <style type="text/css">
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src='{{STATIC_URL}}js/jquery-1.7.1.min.js' type='text/javascript'></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/Timeline/timeline-min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var timeline = new VMM.Timeline();
        timeline.init("{% url timeline_events_json_ tl.pk %}");
      });
    </script>
  </head>
  <body>
    <div id="timeline"></div>
    <!-- TODO ADD BACK BUTTON -->
  </body>
</html>
