<!DOCTYPE html>
<html>
  <head>
    <title>{{ tl.title }} - 时间线 - 精简模式</title>
    <link href="{{STATIC_URL}}Timeline/css/timeline.css" rel="stylesheet"/>
    <style type="text/css">
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src='{{STATIC_URL}}js/jquery-1.7.1.min.js' type='text/javascript'></script>
    <script type="text/javascript" src="{{STATIC_URL}}Timeline/js/timeline-min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}Timeline/js/locale/zh-ch.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var timeline = new VMM.Timeline();
        timeline.init("{% url timeline_events_json_ tl.pk %}");
      });
    </script>
  </head>
  <body>
    <div style="margin: 10px 0 0 10px;
        z-index:99999;
        position:fixed;
        top:52px;
        left:12px;
        opacity: 0.2;
        filter:alpha(Opacity=40);"> 
      <div id="ckepop">
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt" target="_blank"><img src="http://v2.jiathis.com/code_mini/images/btn/v1/jiathis1.gif" border="0" /></a>
        <a class="jiathis_counter_style_margin:3px 0 0 2px"></a>
      </div>
      <script type="text/javascript" src="http://v2.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
    </div> 
    <div style="margin: 10px 0 0 10px;
        padding: 10px;
        background-color: #BBBBBB;
        z-index:99999;
        position:fixed;
        top:10px;
        left:10px;
        opacity: 0.2;
        filter:alpha(Opacity=40);"> 
      <span style="padding: 10px;font-weight: bold;"> 
        <a href="{% url timeline_detail tl.pk %}" style="text-decoration: none;color:#000000">
          &#60; 完整模式
        </a>
      </span>
    </div> 
    <div id="timeline"></div>
  </body>
</html>
