{% extends "timeline/base.html" %}

{% block sidebar %}
<div class="sidebar">
  <div class="well">
    <h5>Sidebar</h5>
    <ul>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
  <div class="well">
    <h5>Sidebar</h5>
    <ul>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block container_top %}
<h1>
  {% if pg == "hot" %} 热门 {% endif %}
  {% if pg == "last" %} 最新 {% endif %}
  {% if pg == "recommend" %} 推荐 {% endif %}
  {% if pg == "random" %} 发现 {% endif %}
</h1>
{% endblock %}

{% block content %}
<div class="content">
  <div class="timelines">
    {% load pagination_tags %}
    {% autopaginate timelines %}
    {% for o in timelines %}
    <div class="timeline">
      <div class="pic">
        <img src="http://img3.douban.com/spic/s6985526.jpg" style=""/>
      </div>
      <ul class="extinfo">
        <li>event: {{o.num_events}}</li>
        <li>view: {{o.num_views}}</li>
        <li>by: {{o.created_by}}</li>
      </ul>
      <div class="info">
        <h3> <a href="{% url timeline_detail o.pk %}">{{o.title}}</a> </h3>
        {{ o.intro|slice:"160"|linebreaksbr }}{% if o.intro|length > 340 %}...{% endif %} 
      </div>
    </div>
    {% endfor %}
  </div>
  {% paginate %}
</div>
{% endblock %}
