{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block extra_header %}
  {{block.super}}
  <style type="text/css">
    label[for="mugshot-clear_id"] {
      width:auto;
      float:none;
      color: gray;
    }
  </style>
{% endblock %}

{% block content_title %}
  <h1>
    {{ profile.user.username }}的帐号
  </h2>
{% endblock %}

{% block content %}
  <div class="content">
    <ul id="profile-nav" class="nav nav-tabs">
      <li><a href="{% url userena_profile_detail user.username %}">{% trans "View profile" %}</a></li>
      <li class="active"><a href="{% url userena_profile_edit user.username %}">{% trans "Edit details" %}</a></li>
      <li><a href="{% url userena_password_change user.username %}">{% trans "Change password" %}</a></li>
      <li><a href="{% url userena_email_change user.username %}">{% trans "Change email" %}</a></li>
    </ul>

    <form action="" enctype="multipart/form-data" method="post" class="form-horizontal">
      {% if user.username == account.user.username %}
        <ul id="box-nav">
          <li class="first"><a href="{% url userena_detail user.username %}"><span>{% trans 'View profile' %}</span></a></li>
          <li class="selected"><a href="{% url userena_edit account.user.username %}">{% trans "Edit profile" %}</a></li>
          <li><a href="{% url userena_password_change account.user.username %}">{% trans "Change password" %}</a></li>
          <li class="last"><a href="{% url userena_email_change account.user.username %}">{% trans "Change email" %}</a></li>
        </ul>
      {% endif %}
      {% csrf_token %}
      <fieldset>
        {{ form.as_div }}
        <div class="form-actions">
          <p>
            <input type="submit" value="{% trans "Save changes" %}" class="btn btn-primary">
          </p>
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
