{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{{ profile.user.username }}'s {% trans "profile" %}.{% endblock %}

{% block content_title %}
  <h1>
    {{ profile.user.username }}的帐号
  </h2>
{% endblock %}

{% block content %}
  <div class="content">

    {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
    {% if user.username == profile.user.username %}
      <ul id="profile-nav" class="nav nav-tabs">
        <li class="active"><a href="{% url userena_profile_detail user.username %}">{% trans "View profile" %}</a></li>
        <li><a href="{% url userena_profile_edit user.username %}">{% trans "Edit details" %}</a></li>
        <li><a href="{% url userena_password_change user.username %}">{% trans "Change password" %}</a></li>
        <li><a href="{% url userena_email_change user.username %}">{% trans "Change email" %}</a></li>
      </ul>
    {% endif %}

    <div id="details">
      <div style="float: left;max-width: 80px;">
        <img src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
      </div>
      <div style="padding-left: 120px;">
        {% if profile.user.get_full_name %}
          <p><strong>{% trans "Name" %}</strong><br /> {{ profile.user.get_full_name }}</p>
        {% endif %}
        {% if profile.age != 0 %}
          <p><strong>{% trans "Age" %}</strong><br /> {{ profile.age }}</p>
        {% endif %}
        <p><strong>{% trans "Website" %}</strong><br /> <a href="{{ profile.website }}">{{ profile.website }}</a></p>
        <p><strong>{% trans "Location" %}</strong><br />{{ profile.location }}</p>
        <p><strong>{% trans "About me" %}</strong><br />{{ profile.about_me|linebreaksbr }}</p>
      </div>
    </div>

    <hr />

    <div class="timelines" id="id_tls">
      <h2>{{profile}} 创建的时间线</h2>
      {% load pagination_tags %}
      {% autopaginate timelines %}
      {% if timelines %}
        {% for o in timelines %}
          <div class="timeline">
            <div class="pic">
              <img src="{{ o.get_cover_url }}"/>
            </div>
            <ul class="extinfo">
              <li>事件: {{o.num_events}}</li>
              <li>浏览: {{o.num_views}}</li>
              <li>by: 
                <a href="{% url userena_profile_detail o.created_by.username %}">
                  {{o.created_by}}
                </a>
              </li>
            </ul>
            <div class="info">
              <h3>
                <a href="{% url timeline_detail o.pk %}">{{o.title}}</a>
                {% if o.status == "draft" %} (草稿) {% endif %}
              </h3>
              {{ o.intro|slice:"160"|linebreaksbr }}{% if o.intro|length > 340 %}...{% endif %} 
            </div>
          </div>
        {% endfor %}
        {% paginate %}
      {% else %}
        还没有创建任何的时间线
      {% endif %}
      
    </div>

  </div>
{% endblock %}
