{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content_title %}
  <h1>{% trans "Signup" %}</h1>
{% endblock %}

{% block sidebar %}
  <div class="sidebar">
    <div style="padding-top: 20px;">
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content">
    <hr/>
    <form action="" method="post" class="form-horizontal">
      <fieldset>
        {% csrf_token %}
        {{ form.as_div }}
        <div class="form-actions" class="form-horizontal">
          <p>
            <input type="submit" value="{% trans "Signup" %}" class="btn btn-primary">
          </p>
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
