{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block extra_header %}
  {{block.super}}
{% endblock %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block sidebar %}
  <div class="sidebar">
    <div style="padding-top: 20px;">
      &gt; 还没有帐号？<a href="{% url userena_signup %}">立即注册</a>
    </div>
  </div>
{% endblock %}

{% block content_title %}
  <h1>{% trans "Signin" %}</h1>
{% endblock %}

{% block content %}
  <div class="content">
    <hr/>
    <form action="" method="post" class="form-horizontal">
      <fieldset>
        {% csrf_token %}
        {{ form.as_div }}
        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
        <div class="form-actions">
          <p>
            <input type="submit" value="{% trans "Signin" %}" class="btn btn-primary">
          </p>
          <p class="forgot-password">
            <a href="{% url userena_password_reset %}" title="{% trans "Forgot your password?" %}">{% trans "Forgot your password?" %}</a>
          </p>
        </div>
      </fieldset>
    </form>
  </div>
{% endblock %}
